html {
  font-size: 20px;
}

nav {
  background-color: orange;
  width: 100%;
  padding:0.75rem;
  max-width: 100%;
  min-height: 50px;
}
#nav-logo {

}
aside {
  width: 30%;
  background-color: pink;
  height: 600px;
  float:left;
}
.left-side {
  background-color: red;
  width:300px;
  height: 600px;

}
.main-container {
  margin: auto;
  width:990px;
  height:auto;
  float: right;
  margin: 0px auto;
  border: 2px gray solid;
}
.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.posty-post {
  border: 0.5px black solid;
  width: 20%;
  padding:1rem;
  margin: 0.5rem;
  float:left;
  color:white;
  background-color: #355E3B;
}
